{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
   {% include 'postsFiles/headers.html' %}

   {% include 'messages.html' %}
   {% block body%}

   {% endblock %}

   <script src="{% static 'js/jquery.min.js' %} "></script>
   <script src="{% static 'js/bootstrap.min.js' %} "></script>

</body>
</html>
